1 VERSIONINFO
FILEVERSION 1,1,8,0
PRODUCTVERSION 1,1,8,0
{
 BLOCK "StringFileInfo"
 {
  BLOCK "041904B0"
  {
   VALUE "Comments", "\000"
   VALUE "CompanyName", "\000"
   VALUE "FileDescription", "Dianet Dialer\000"
   VALUE "FileVersion", "1.1.8.0\000"
   VALUE "InternalName", "dianetdialer\000"
   VALUE "LegalCopyright", "©BORNDEAD\000"
   VALUE "LegalTrademarks", "\000"
   VALUE "OriginalFilename", "dianetdialer\000"
   VALUE "ProductName", "Dianet Dialer\000"
   VALUE "ProductVersion", "1.1.8.0\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0419, 0x04B0
 }
}
